<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        {% if info.title %}
        <h1>Lista de Livros</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for info in response %}

                <tr>
                    <td>{{ info.title }}</h2>
                    <td>{{ info.author }}</p>
                        <img src="https://covers.openlibrary.org/b/isbn/{{ info.cover }}-M.jpg" alt=""></img>
                    <td>{{ info.description }}</p>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>Lista de Autores</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome do autor</th>
                    <th>Data de nascimento</th>
                    <th>Melhor livro</th>
                    <th>Livros</th>
                    <th>Imagem do autor</th>
                </tr>
            </thead>
            <tbody>
                {% for info in response %}
                <tr>
                    <td>{{ info.name }}</h2>
                    <td>{{ info.birth_date }}</p>
                    <td>{{ info.top_work }}</p>
                    <td>
                        {% for book in info.books %}
                        {{ book.title }}
                        {% endfor %}
                    </td>
                    <td>
                        <img src="https://covers.openlibrary.org/a/olid/{{ info.key }}-M.jpg" alt="">
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
    </div>
    </br>
</body>

</html>