<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>

<body>
    {% for info in response %}
    {% if info.title %}
    <h2>{{ info.title }}</h2>
    <p>{{ info.author }}</p>
    <img src="https://covers.openlibrary.org/b/isbn/{{ info.cover }}-M.jpg" alt=""></img>
    <p>{{ info.description }}</p>
    {% else %}
    <h2>{{ info.name }}</h2>
    <p>{{ info.birth_date }}</p>
    <p>{{ info.top_work }}</p>
    {% for book in info.books %}
    <p>{{ book.title }}</p>
    {% endfor %}
    <img src="https://covers.openlibrary.org/a/olid/{{ info.key }}-M.jpg" alt="">
    {% endif %}
    {% endfor %}

</br>
    <h2>{{ response }}</h2>
</body>

</html>